body {
  position: relative;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f5f5f5;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  margin: 0.2em 0;
}

a, h1, h2 {
  font-family: "Comfortaa", sans-serif;
}

a {
  width: fit-content;
  text-decoration: none;
}

header#navbar {
  position: fixed;
  width: 80%;
  top: 0;
  padding: 0.5em 0;
  background-color: #fff;
  transition: top 0.3s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#navbar div {
  display: flex;
  align-items: center;
  font-size: 0.6em;
}

header#navbar nav a {
  margin: 0 0.3em;
}

header#navbar nav a[href=""] {
  font-weight: 600;
}

header#navbar a:visited {
  color: #333;
}

header .icon {
  margin: 0.3em;
  width: 3em;
}

footer {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  justify-content: center;
}

footer span {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

footer a img {
  margin-right: 0.5em;
  width: 1.6em;
}

section {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0.25rem 3rem rgba(147, 144, 142, 0.5);
  margin: 3.6em auto 0 auto;
}

section, body#index {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  overflow-x: hidden;
  justify-content: center;
}

body#index {
  background-image: url("/img/bg.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  flex-flow: column wrap;
  text-shadow: 0.05em 0.05em 0.5em #222;
}

body#index header {
  margin: 0;
}

body#index footer {
  margin: 1.6em 0;
  width: fit-content;
}

body#index > img {
  width: 3em;
}

body#index img.icon {
  width: 1em;
}

body#index p {
  margin: 1.6em 0;
}

body#index a {
  color: white;
  margin-right: 0.2em;
  text-decoration: dotted underline;
}

section#about p {
  padding: 0 10%;
  text-align: justify;
}

section#about img {
  width: 80%;
  margin: 0 10%;
  box-shadow: 0 0.25rem 3rem rgba(147, 144, 142, 0.5);
}

section#about button {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2em;
  background-color: #fff;
  padding: 0.2em 0.2em 0.1em 0.2em;
  border: solid #3f3f3f 0.12em;
  border-radius: 0.12em;
  margin: 1em 0 1.5em 0;
}

section#about button a {
  color: #2f2f2f;
}

.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 0 4em 0;
  align-self: center;
  align-items: center;
}

.container img {
  height: 100%;
  width: auto;
  z-index: 1;
}

.container div span {
  width: 10%;
  padding: 0 0.2em;
  color: #f0f0f0;
}

.container div span.behind {
  position: absolute;
  font-size: 9rem;
  line-height: 4rem;
  width: fit-content;
  z-index: 0;
}

.container div span.front {
  position: relative;
  color: #2f2f2f;
  line-height: 4.2em;
  font-size: 1.4em;
  padding: 0;
  z-index: 1;
}

.container div.text-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 75%;
}

.container.odd div.text-container {
  justify-content: flex-end;
  margin-right: 1em;
}

.container.odd span.behind {
  right: -1em;
}

.container.even span.front {
  margin-left: 1em;
}

.container.even span.behind {
  left: 0;
}

section#gallery {
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-between;
}

section#gallery div.img-container {
  display: flex;
  flex-flow: column wrap;
  width: 49%;
}

section#gallery img {
  width: 100%;
  height: auto;
}

section#gallery img {
  margin: 0 2% 4% 0;
}

@media only screen and (min-width: 640px) {
  header, footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .container {
    height: 13em;
  }

  .container#last {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 901px) {
  .container {
    height: 17em;
  }

  #japan span.behind:hover,
#georgia span.behind:hover {
    color: #DB9595;
  }

  #russia span.behind:hover,
#thailand span.behind:hover {
    color: #959CDB;
  }
}
@media only screen and (max-width: 1200px) {
  .container.odd span.behind {
    left: 0;
  }

  body#index {
    background-position: 50% top;
  }
}
@media only screen and (max-width: 640px) {
  header#navbar {
    width: 100%;
  }

  body#index {
    background-position: 90%;
  }

  section, section#gallery, section#about img, body#index {
    width: 100%;
  }

  body#index {
    align-items: center;
    text-align: center;
  }

  section#about p {
    padding: 0 3%;
  }

  .container {
    align-items: center;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
  }

  .odd {
    flex-flow: row wrap-reverse;
  }

  .container div.text-container {
    width: 100%;
  }

  .container div span {
    width: 10%;
    padding: 0.3em;
  }

  .container img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
