/* make body width 100%, and make it stick to 1920px when the screen gets too large */
body {
  position: relative;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f5f5f5;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  margin: 0.2em 0;
}

a, h1, h2 {
  font-family: "Comfortaa", sans-serif;
}

a {
  width: fit-content;
  text-decoration: none;
}

/* align header elements to the center on the vertical axis */
header#navbar {
  position: fixed;
  width: 80%;
  top: 0;
  padding: 0.5em 0;
  background-color: #fff;
  transition: top 0.3s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* align h1 and img elements to the center on the vertical axis */
header#navbar div {
  display: flex;
  align-items: center;
  font-size: 0.6em;
}

header#navbar nav a {
  margin: 0 0.3em;
}

/* make link of page the user is currently on bold */
header#navbar nav a[href=""] {
  font-weight: 600;
}

/* change colour of links to visited pages */
header#navbar a:visited {
  color: #333;
}

/* change the width of the logo to 3em */
header .icon {
  margin: 0.3em;
  width: 3em;
}

footer {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  justify-content: center;
}

/* footer copyright text */
footer span {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

/* footer icons */
footer a img {
  margin-right: 0.5em;
  width: 1.6em;
}

section {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  background-color: #fff;
  margin: 3.6em auto 0 auto;
}

section, body#index {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  overflow-x: hidden;
  justify-content: center;
}

/* body of index.html */
body#index {
  background-image: url("/img/bg.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  flex-flow: column wrap;
  text-shadow: 0.05em 0.05em 0.5em #222;
}

/* remove margin for index.html header */
body#index header {
  margin: 0;
}

/* unique styles for index.html footer */
body#index footer {
  margin: 1.6em 0;
  width: fit-content;
}

/* make icon smaller */
body#index > img {
  width: 3em;
}

body#index img.icon {
  width: 1em;
}

body#index p {
  margin: 1.6em 0;
}

body#index a {
  color: white;
  margin-right: 0.2em;
  text-decoration: dotted underline;
}

/* about me page paragraph. add padding and justify text */
section#about p {
  padding: 0 10%;
  text-align: justify;
}

/* about me page img */
section#about img {
  width: 80%;
  margin: 0 10%;
}

/* shadow for section and img, except img in country-gallery.html */
section, section#gallery img, section#about img {
  box-shadow: 0 0.25rem 3rem rgba(147, 144, 142, 0.5);
}

/* email button */
section#about button {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2em;
  background-color: #fff;
  padding: 0.2em 0.2em 0.1em 0.2em;
  border: solid #3f3f3f 0.12em;
  border-radius: 0.12em;
  margin: 1em 0 1.5em 0;
}

section#about button a {
  color: #2f2f2f;
}

/* container for gallery.html
 * contains image, large and small background text */
.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 0 4em 0;
  align-self: center;
  align-items: center;
}

/* make image the height of container
 * z-index to cover large background text */
.container img {
  height: 100%;
  width: auto;
  z-index: 1;
}

/* container text */
.container div span {
  width: 10%;
  padding: 0 0.2em;
  color: #f0f0f0;
}

/* large background text */
.container div span.behind {
  position: absolute;
  font-size: 9rem;
  line-height: 4rem;
  width: fit-content;
  z-index: 0;
}

/* foreground text */
.container div span.front {
  position: relative;
  color: #2f2f2f;
  line-height: 4.2em;
  font-size: 1.4em;
  padding: 0;
  z-index: 1;
}

/* text container for large and small text */
.container div.text-container {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 75%;
}

/* ODD containers are the 2nd, 4th, etc...
 * EVEN containers are the 1st, 3rd, etc... */
.container.odd div.text-container {
  justify-content: flex-end;
  margin-right: 1em;
}

/* make large bg text go behind the image a lil */
.container.odd span.behind {
  right: -1em;
}

/* make small text have some spacing from image */
.container.even span.front {
  margin-left: 1em;
}

/* make large bg text in .even container align to the left */
.container.even span.behind {
  left: 0;
}

/* [country].html section, contains 2 column flexboxes */
section#gallery {
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-between;
}

/* [country].html container for photos, there are two of these containers */
section#gallery div.img-container {
  display: flex;
  flex-flow: column wrap;
  width: 49%;
}

/* make image fill container */
section#gallery img {
  width: 100%;
  height: auto;
}

section#gallery img {
  margin: 0 2% 4% 0;
}

/* For devices other than mobile */
@media only screen and (min-width: 640px) {
  /* align with main section with the same side margins */
  header, footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  /* make the container larger */
  .container {
    height: 13em;
  }

  /* remove margin below last container */
  .container#last {
    margin-bottom: 0;
  }
}
/* For small medium devices */
@media only screen and (min-width: 901px) {
  /* make the container larger */
  .container {
    height: 17em;
  }

  /* For desktop, add hover effect for gallery.html large background text */
  #japan span.behind:hover,
#georgia span.behind:hover {
    color: #DB9595;
  }

  #russia span.behind:hover,
#thailand span.behind:hover {
    color: #959CDB;
  }
}
/* For medium devices */
@media only screen and (max-width: 1200px) {
  /* align large background text in .odd container to the left
  * originally, it was aligned to the right, causing it to overflow
  * towards the left when the width is too small, and the first few letters
  * are hdden. now, the first letter is visible due to positioning it against the left. */
  .container.odd span.behind {
    left: 0;
  }

  /* position body such that the man is in view */
  body#index {
    background-position: 50% top;
  }
}
/* For mobile */
@media only screen and (max-width: 640px) {
  /* make header width 100% */
  header#navbar {
    width: 100%;
  }

  /* position bg image towards left */
  body#index {
    background-position: 90%;
  }

  /* make the stuff fill the width */
  section, section#gallery, section#about img, body#index {
    width: 100%;
  }

  /* align index.html body items to the center */
  body#index {
    align-items: center;
    text-align: center;
  }

  /* make padding smaller from 10% to 3% */
  section#about p {
    padding: 0 3%;
  }

  /* make container fill the width of the parent, which is section (100% width) */
  .container {
    align-items: center;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
  }

  /* reverse the wrap direction to make text in .odd containers appear below image */
  .odd {
    flex-flow: row wrap-reverse;
  }

  /* make text container fill the width (100%) */
  .container div.text-container {
    width: 100%;
  }

  /* move text down (if not part of the top of the bg text will be covered by img) */
  .container div span {
    width: 10%;
    padding: 0.3em;
  }

  .container img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
